apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', cert_dir + '/' + ca_cert.name + '.crt') | b64encode }}
    server: https://{{ kubeconfig.server }}:6443
  name: {{ cluster.name }}
contexts:
- context:
    cluster: {{ cluster.name }}
    user: {{ kubeconfig.user }}
  name: default
current-context: default
preferences: {}
users:
- name: {{ kubeconfig.user }}
  user:
    client-certificate-data: {{ lookup('file', cert_dir + '/' + kubeconfig.cert) | b64encode }}
    client-key-data: {{ lookup('file', cert_dir + '/' + kubeconfig.key) | b64encode }}