apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/{{ ca_cert.name }}.crt
    server: https://{{ kubeconfig.server }}:6443
  name: {{ cluster.name }}
contexts:
- context:
    cluster: {{ cluster.name }}
    user: {{ kubeconfig.user }}
  name: default
current-context: default
preferences: {}
users:
- name: {{ kubeconfig.user }}
  user:
    client-certificate: {{ cert_dir }}/{{ kubeconfig.cert }}
    client-key: {{ cert_dir }}/{{ kubeconfig.key }}