apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_pki_dir }}/{{ ca_cert.name }}.crt
    server: https://{{ master_ip }}:6443
  name: bootstrap
contexts:
- context:
    cluster: bootstrap
    user: kubelet-bootstrap
  name: bootstrap
current-context: bootstrap
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: {{ token_id }}.{{ token_secret }}