[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart={{ etcd_bin_dir }}/etcd \
  --name {{ etcd_name }} \
  --cert-file=/etc/etcd/{{ certs.etcd.name }}.crt \
  --key-file=/etc/etcd/{{ certs.etcd.name }}.key \
  --peer-cert-file=/etc/etcd/{{ certs.etcd.name }}.crt \
  --peer-key-file=/etc/etcd/{{ certs.etcd.name }}.key \
  --trusted-ca-file=/etc/etcd/{{ certs.ca.name }}.crt \
  --peer-trusted-ca-file=/etc/etcd/{{ certs.ca.name }}.crt \
  {{ peer_auths | default('') }} \
  {{ client_auths | default('') }} \
  --initial-advertise-peer-urls https://{{ private_ip }}:2380 \
  --listen-peer-urls https://{{ private_ip }}:2380 \
  --listen-client-urls https://{{ private_ip }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ private_ip }}:2379 \
  --initial-cluster-token {{ initial_cluster_token }} \
  --initial-cluster {{ etcd_name }}=https://{{ private_ip }}:2380 \
  --initial-cluster-state {{ initial_cluster_state }} \
  --data-dir={{ etcd_data_dir }}
Restart={{ restart }}
RestartSec={{ restart_sec }}

[Install]
WantedBy=multi-user.target